.container{
  font-family: 'Roboto Slab', serif;
  background-color: #eddac7;
}
#header h1{
  text-align: center;
  font-size: 4em;
}
#arrowHeader img{
  width: 300px;
  height: 150px;
margin: 10px;
}
#arrowHeader h2{
  pointer-events: none;
}
#arrowHeader img:hover{
  cursor:pointer;
width: 310px;
}
#arrowHeader{

text-align: center;
background-color:#cee1ff;
  border-radius: 25px;
  margin: 10px;
}
#order{

}
#arrowHeader h2{
  position: absolute;
  font-size: 3em;
  width: 100%;
    top: 40px;
    left: 50px;
    color: white;
    -webkit-text-stroke-width: 1px black;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
#sidebar{

}
